*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .main-1{
    padding-top: 20px;
}
.div-menu{
    background-color: black;
    list-style: none;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.div-a-menu{
    color: white;
    text-decoration: none;
}
.div-menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.div-menu li{
    display: inline-block;
    text-align: center;
}

.ul-menu li a:hover{
    background-color: #888086;
} */

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    height: 70px;
    background-color: rgb(192, 179, 175);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

a:hover{
    color: white;
}

@media (max-width: 700px) {
    header{
        flex-direction: column;
        height: 95px;
    }

    nav{
        padding: 10px 0px;
    }

}








.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}

img{
    width: 100%;
    height: 100%;
}